---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <article class="prose max-w-4xl dark:prose-invert">
    <h1>Aktywna przerwa</h1>
    <p>Konkurs dla szkół pod nazwą „Szkolna aktywność fizyczna”.</p>
    <p>Śląski Państwowy Wojewódzki Inspektor Sanitarny oraz Akademia Wychowania Fizycznego w Katowicach zapraszają publiczne i niepubliczne szkoły podstawowe i ponadpodstawowe do udziału w Konkursie „Szkolna aktywność fizyczna”. Celem konkursu jest promowanie programów szkolnej aktywności fizycznej opartych na wdrażaniu śródlekcyjnych oraz międzylekcyjnych ćwiczeń fizycznych.</p>
    <p>Strona konkursu (źródło: site.md)</p>
  </article>
</Layout>
