---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <article class="prose max-w-4xl dark:prose-invert">
    <h1>Booking My Account</h1>
    <p>Funkcjonalność rezerwacji (shortcode): [salon_booking_my_account]</p>
  </article>
</Layout>
