---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <article class="prose max-w-4xl dark:prose-invert">
    <h1>Technikum / BS1S</h1>
    <p>Informacje dla uczniów i słuchaczy, plan lekcji, dziennik elektroniczny i zasoby.</p>
  </article>
</Layout>
