---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dokumenty - ZSEiU Łaziska Górne" description="Dokumenty szkolne ZSEiU Łaziska Górne. Statuty, regulaminy, procedury i formularze do pobrania.">
  <article class="prose max-w-4xl mx-auto dark:prose-invert">
    <h1>Dokumenty i polityki</h1>
    <p>W tej sekcji znajdują się odnośniki do najważniejszych dokumentów szkoły.</p>

    <ul>
      <li><a href="/dokumenty/Statut-Technikum-Nr-1-01-09-2023.pdf" target="_blank">Statut Technikum Nr 1 w Łaziskach Górnych</a></li>
      <li><a href="/dokumenty/Statut-BSISv1.3-01.09.2023.pdf" target="_blank">Statut Branżowej Szkoły I Stopnia w Łaziskach Górnych</a></li>
      <li><a href="/dokumenty/StatutLOdlaDorosych01.09.2023.pdf" target="_blank">Statut Liceum Ogólnokształcącego dla Dorosłych w Łaziskach Górnych</a></li>
    </ul>
  </article>
</Layout>
