---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <article class="prose max-w-4xl dark:prose-invert">
    <h1>Dokumenty i polityki</h1>
    <p>W tej sekcji znajdują się odnośniki do najważniejszych dokumentów szkoły.</p>

    <ul>
      <li><a href="#">Statuty (Technikum, Branżowa Szkoła I stopnia, LO dla dorosłych)</a></li>
      <li><a href="#">Polityka RODO i dane osobowe</a></li>
      <li><a href="#">Deklaracja dostępności</a></li>
      <li><a href="#">Regulaminy rekrutacji</a></li>
    </ul>

    <p>Jeśli chcesz, mogę podłączyć bezpośrednie linki do oryginalnych plików PDF/DOCX znajdujących się na stronie ZSEiU.</p>
  </article>
</Layout>
