---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <article class="prose max-w-4xl dark:prose-invert">
    <h1>Dokumenty szkolne</h1>
    <p>Statuty i dokumenty: Statut Technikum nr 1, Statut Branżowej Szkoły I Stopnia, Statut LO dla Dorosłych. (aktualizacja 01-09-2023)</p>
    <ul>
      <li>Statut technikum [PDF]</li>
      <li>Statut BS1S [PDF]</li>
      <li>Statut LO dla Dorosłych [PDF]</li>
    </ul>
  </article>
</Layout>
