---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <article class="prose max-w-4xl dark:prose-invert">
    <h1>Dostępność</h1>
    <p>Deklaracja dostępności ZSEiU. Strona jest częściowo zgodna z ustawą o dostępności cyfrowej; data publikacji: 2019-12-17; ostatnia istotna aktualizacja: 2026-03-06.</p>
    <h2>Kontakt w sprawie dostępności</h2>
    <p>Anna Jadasz — anna.jadasz@zseiulaziska.pl — tel. 322242415</p>
  </article>
</Layout>
