---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <article class="prose max-w-4xl dark:prose-invert">
    <h1>Dyrekcja i kierownictwo</h1>
    <p>Dyrektor: mgr Anna Jadasz — anna.jadasz@zseiulaziska.pl</p>
    <p>Wicedyrektor: mgr Dorota Brudny — dorota.brudny@zseiulaziska.pl</p>
    <p>Kierownik szkolenia praktycznego: mgr inż. Piotr Dębowski — piotr.debowski@zseiulaziska.pl</p>
  </article>
</Layout>
