---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <article class="prose max-w-4xl dark:prose-invert">
    <h1>Egzaminy zawodowe 2025/2026</h1>
    <p>Harmonogramy, komunikaty i informacje dotyczące egzaminów zawodowych (źródło: site.md).</p>
    <p>Strona CKE (zalecane sprawdzenie oficjalnych źródeł).</p>
  </article>
</Layout>
