---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Erasmus+ - ZSEiU Łaziska Górne" description="Program Erasmus+ w ZSEiU Łaziska Górne. Międzynarodowe projekty i praktyki zagraniczne.">
  <article class="prose max-w-4xl dark:prose-invert">
    <h1>Erasmus+</h1>
    <p>ZSEiU realizuje projekt Erasmus+ (Akcja KA121). Szkoła organizuje zagraniczne praktyki zawodowe dla uczniów kierunków takich jak technik logistyk, technik elektryk, technik informatyk i technik organizacji turystyki.</p>
    <h2>Cel projektu</h2>
    <ul>
      <li>Wzmocnienie kompetencji kluczowych i umiejętności ogólnych</li>
      <li>Wsparcie specjalistycznych umiejętności wymaganych przez rynek pracy</li>
      <li>Wymiana najlepszych praktyk i rozwój nauczycieli</li>
    </ul>
  </article>
</Layout>
