---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <article class="prose max-w-4xl dark:prose-invert">
    <h1>Grono pedagogiczne</h1>
    <p>Lista nauczycieli i ich odpowiedzialności (fragmenty z site.md). Jeśli chcesz, mogę rozbić to na szczegółową stronę z kartami nauczycieli.</p>
  </article>
</Layout>
