---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <article class="prose max-w-4xl dark:prose-invert">
    <h1>Historia</h1>
    <p>Rys historyczny szkoły: od 1945 roku, rozwój, zmiany nazw, oddanie budynku przy ul. Chopina 11 w 1968 r., nadanie imienia prof. dr inż. Wacława Cybulskiego w 1978 r., i dalszy rozwój do dziś.</p>
  </article>
</Layout>
