---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <article class="prose max-w-4xl dark:prose-invert">
    <h1>Kalendarz roku szkolnego 2025/2026</h1>
    <ul>
      <li>Rozpoczęcie zajęć: 1 września 2025</li>
      <li>Ferie zimowe: 16 lutego – 1 marca 2026</li>
      <li>Egzaminy zawodowe: sesja zimowa od 8 stycznia 2026; sesja letnia od 1 czerwca 2026</li>
      <li>Egzaminy maturalne: 4–30 maja 2026</li>
      <li>Zakończenie roku szkolnego: 26 czerwca 2026</li>
    </ul>
  </article>
</Layout>
