---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <article class="prose max-w-4xl dark:prose-invert">
    <h1>Klasa policyjna</h1>
    <p>Klasa policyjna w profilu technik logistyk – nauka pod patronatem policji, dodatkowe możliwości rozwoju, przygotowanie do służb mundurowych.</p>
  </article>
</Layout>
