---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Podręczniki - ZSEiU Łaziska Górne" description="Wykazy podręczników dla ZSEiU Łaziska Górne na bieżący rok szkolny.">
  <article class="prose max-w-4xl dark:prose-invert">
    <h1>Podręczniki 2025/2026</h1>
    <p>Wykaz podręczników dla Technikum i dla Branżowej Szkoły I Stopnia. (źródło: site.md)</p>
  </article>
</Layout>
